<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">

    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">home</a>
    <a class="sidebar-nav-item" href="{{ site.blog }}">blog</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/master.zip">download</a>
    <a class="sidebar-nav-item" href="{{ site.license }}">license</a>    

  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }} tegcommerce
    </p>
  </div>
</div>
